.container {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color: white;
    padding: 1rem;
    text-align: center;
    width: 44rem;
    z-index: 20;
    position: fixed;
    top: 30vh;
    left: calc(50% - 21.5rem);
    max-height: 45.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin-bottom: 16px;
}

.input {
    font-size: 16px;
    padding: 8px;
    margin-bottom: 16px;
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
}

.button-cancel {
    background-color: red;
    color: white;
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.button-confirm {
    background-color: green;
    color: white;
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.button-cancel:hover {
    background-color: black;
}

.button-confirm:hover {
    background-color: black;
}


.error-message {
    color: red;
    text-align: left;
}