.main-container {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
    border-radius: 6px;
    background-color: white;
    padding: 1rem;
    text-align: center;
    width: 23rem;
}

.header {
    font-size: 19px;
    font-weight: bold;
    color: black;
    margin-bottom: 16px;
}

.input {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid black;
}

.table-wrapper {
    border: 1px solid;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    height: 180px;
    margin-bottom: 10px;
}

.tableCustom {
    width: 100%;
    table-layout: fixed;
}

.loading-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 50px;
    width: 100%;
}