.image {
    display: block;
    width: 100%; 
    height: calc(100vh - 6rem);
    object-fit: cover; 
  }

.inscription {
    position: absolute;
    top: 15%;
    left: 6%;
    font-size: 38px;
    font-family: "Arial Black";
    font-style: italic;
    color: white;
}