.table-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 70vw;
    padding: 2em;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.title {
    font-family: "Angkor", serif;
    font-weight: 400;
    font-style: italic;
    text-align: center;
}

.spacer {
    margin-right: 10%;
}

.add-product-button {
    background-color: #ffc107;
    color: black;
    padding: 8px 16px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.add-product-button:hover {
    background-color: black;
    color: white;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 25px;
    width: 26%;
}

.input-group label {
    margin-bottom: 0px;
    font-weight: bold;
}

.input-field {
    font-size: 16px;
    padding: 10px;
    max-width: 100%;
    border: 1px solid black;
}

.loading-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 50px;
    width: 100%;
}

.buttons-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.page-button {
    margin: 0 7px;
    border: none;
    border-radius: 3px;
    color: black;
    background-color: #d1cbcb;
    padding-left: 10px;
    padding-right: 10px;
}

.page-button:hover {
    background-color: black;
    color: white;
}

.page-control-button {
    background-color: #d43331;
    color: white;
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.page-control-button:hover {
    background-color: black;
}

.current-page {
    background-color: #d43331;
    font-weight: bold;
    color: white;
}

.table-wrapper {
    border: 1px solid;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    height: 70%;
}

.table-fill {
    background: white;
    border-radius: 3px;
    border-collapse: collapse;
    max-width: 100%;
    padding: 5px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
    max-height: 20em;
}

.table-fill th {
    color: #D5DDE5;
    background: #1b1e24;
    border-bottom: 4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size: 23px;
    font-weight: 100;
    padding: 24px;
    text-align: left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
}

.table-fill th:first-child {
    border-top-left-radius: 3px;
}

.table-fill th:last-child {
    border-top-right-radius: 3px;
    border-right: none;
}

.table-fill tr {
    border-top: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    color: #666B85;
    font-size: 16px;
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

.table-fill tr:hover td {
    background: #4E5066;
    color: #FFFFFF;
    border-top: 1px solid #22262e;
    cursor: pointer;
}

.table-fill tr:first-child {
    border-top: none;
}

.table-fill tr:last-child {
    border-bottom: none;
}

.table-fill tr:nth-child(odd) td {
    background: #EBEBEB;
}

.table-fill tr:nth-child(odd):hover td {
    background: #4E5066;
}

.table-fill tr:last-child td:first-child {
    border-bottom-left-radius: 3px;
}

.table-fill tr:last-child td:last-child {
    border-bottom-right-radius: 3px;
}

.table-fill td {
    background: #FFFFFF;
    padding: 20px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 18px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
}

.table-fill td:last-child {
    border-right: 0px;
}

.table-fill th.text-left {
    text-align: left;
}

.table-fill th.text-center {
    text-align: center;
}

.table-fill th.text-right {
    text-align: right;
}

.table-fill td.text-left {
    text-align: left;
}

.table-fill td.text-center {
    text-align: center;
}

.table-fill td.text-right {
    text-align: right;
}